@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: var(--texts-color);
}

:root {
  --texts-color: #6e4106;
  --color-bg-principal: #faebd7;
  --color-principal: #ffa228;
  --shadows-color: #6e4106;
}

.header {
  display: flex;

}
.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #faebd7;
  width: 100vw;
  height: 8vh;
}

.navigation-bar ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 35%;
}

.shop-area {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  width: 50px;
  box-shadow: 1px 1px 5px 0px #6e4106;
  background-color: var(--color-principal);
}
